/*
@import "normalize";
@import "main";
*/

$bodybg: #1e5a1c;
$secondaryr: red;
$secondaryb: black;

body {
	background-color: #1e5a1c;
}

div nav {
	background-color: #1e5a1c;
}

nav .table {
	background-color: #000000;
}