<div class="nav">
	<table class="nav">
		<tr>
			<td><a href='/'><img src='/img/card.png' style='vertical-align:bottom;'></td>
			<td class="text"><a href='/setup'>Set Up</td>
			<td class="text"><a href='/rules'>Rules</td>
			<td class="text"><a href='/about'>About</td>
		</tr>
	</table>
</div>