    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/setup">Setup</a></li>
            <li role="presentation"><a href="/rules">Rules</a></li>
            <li role="presentation"><a href="/maocho">Maocho</a></li>
            <li role="presentation"><a href="/about">About</a></li>
          </ul>
        </nav>
        <div class="text-muted"><a href="/"><img src='/img/card.png' title='Ocho' alt='An eight of hearts with the word ocho written using a loop in the eight for the o.'></a></div>
      </div>