<div class="nav" style='background-color:green;'>
	<table class="nav">
		<tr>
			<td><a href='/'><img src='/img/card.png'></td>
			<td style='font-size:50px;padding:20px;'><a href='/setup'>Set Up</td>
			<td style='font-size:50px;padding:20px;'><a href='/rules'>Rules</td>
			<td style='font-size:50px;padding:20px;'><a href='/about'>About</td>
		</tr>
	</table>
</div>