---
title: About Ocho
---

<h1>About Ocho</h1>
<hr class="style-two">
<h2><a name="origins">Origins</a></h2>
<p>Ocho was invented on June 22nd, 2014 in Oakland, California. A game night/<em>Game of Thrones</em> viewing party met the first Sunday after the show's season finale, and the three most regular members were struggling to find a game that supported three players. Uno was suggested, but no one had a copy. Realizing an Uno™ deck could easily be recreated using standard playing cards, the values were correlated and the game began. The deck used was a hodgepodge of whatever cards were loose in the game cabinet, because why would it matter if there was an even distribution of cards?</p>
<p>It soon became apparent that the unlikely collection of cards was some sort of divine assortment. Every hand seemed to lead to an exciting, unexpected event that required a precedent to be established. The meta-rule became "If you can convince everyone it's a rule, it's a rule," and what persisted was refined into the lean set of base rules we play with today.</p>
<h2><a name="materials">Playtesting</a></h2>
<p>The Ocho Deck became a proper noun, earning a prized spot on the mantle for easy access. Ocho was taught to and played with almost every houseguest, in hopes of confirming that the game was as enjoyable to all as it was to them. The responses were overwhelmingly positive, confirming the creators' suspicions that they had stumbled onto a very fortunate arrangement of cards.</p>
<h2><a name="maocho">Maocho</a></h2>
<p>There was no reason to keep innovating; they had already created a blockbuster card game. But there would be more. In the spirit of the very first rule, one of Ocho's creators convinced the remaining players that the rule was you get to create a new rule when you win a hand, like the game Mao. The combination of flexible deck components, Uno card values, and Mao rulecraft became Maocho, the infinitely customizable game.</p>
<h2><a name="contribute">Contribute</a></h2>
<p>Submit your most successful decks and rules using the forms on the site, or using the <a href='https://github.com/aseroff/ocho'>Ocho GitHub project</a>.
</p>
<p>You can also <a href="/foundation">donate to the Ocho Foundation</a>.</p>