---
title: The Ocho Foundation
---

<% methods = [
	{coin: "BTC", address: '1CxwXqN6EVKRXGc5p2mkdigHLJcNEWovqz'}, 
	{coin: "ETH", address: '0x1Bba248E280b69AD7E63892CA6cCBc561AffC708'}
	] %>

<h1>Donate to the Ocho Foundation</h1>
<hr class="style-two">
<section>
	<h2><a id="mission" href="#mission">Mission</a></h2>
	<p>To spread Ocho to every corner of the world, so that no man, woman or child ever has to face a day without Ocho again.</p>
</section>
<section>
	<h2><a id="donate" href="#donate">Donate</a></h2>
	<div class="center">
		<% methods.each do |c| %>
		<div class="coin">
			<h2><%= c[:coin] %></h2>
			<table class="qr" align="center">
			<% qr = RQRCode::QRCode.new(c[:address]) %>
			<%= qr.as_svg %>
			<p><%= c[:address] %></p>
		</div>
		<% end %>
	</div>
</section>
<section>
	<h2><a id="donorinformation" href="#donorinformation">Information for Donors</a></h2>
	<p>Your contribution goes towards offsetting the cost of hosting this website.</p>
</section>