---
title: Ocho
layout: i_layout
---

<h1>Ocho</h1>
<hr>
<p>Ocho is a simple and lively card game for 3 or more players. By not requiring a standard 52-card deck, Ocho is the perfect game for any occasion.</p>
<p><a href='/setup'>Start playing Ocho!</a></p>
