---
title: Ocho
layout: i_layout
---

<p>Ocho is a simple and lively card game for 3 or more players.<br> By not requiring a standard 52-card deck, Ocho is the perfect game for any occasion.</p>
<div class="breadcrumbs">
<p><a href='/setup'>Start playing Ocho!</a></p>
</div>