---
title: Ocho
layout: i_layout
---

<h1>Ocho</h1>
<p>Ocho is a simple and lively card game for 3 or more players.<br> By not requiring a standard 52-card deck, Ocho is the perfect game for any occasion.</p>
<div class="breadcrumbs">
<h2><a href='/setup'>Start playing Ocho!</a></h2>
</div>