---
title: Maocho
---

<h1>Maocho</h1>
<hr class="style-two">
<p>Maocho is a game composed of Ocho hands. The reward for winning a hand is adding a new rule to the following hands played in the game session.</p>
<h2><a name="objective">Objective</a></h2>
<p>The base objective is to not break the game with a bad rule, as the Maocho game ends when <span style="border-bottom: 1px dashed #000;text-decoration: none;" title="There are no more cards to draw from and the current player cannot play.">a hand cannot continue</span>. If this happens, the loser is whomever won the last hand (since they made the rule that finally broke the game), while everyone else wins.</p>
<p>However, the ability to add rules creates the possibility of making a rule that defines an objective to the game, on top of the base objective of not breaking the game.</p>
<h2><a name="strategy">Strategy</a></h2>
<p>The key to a successful Maocho game is balancing rules that add cards to players' hands, and rules that allow players to remove cards from their hands. As such, a good general rule is to never make any one card more powerful than a Wild Draw Four.</p>
<h2><a name="rules">Example Rules</a></h2>
<p>The following rules are good examples of reassigning card values, adding gameplay mechanisms, and more. Use these as inspiration to come up with your own!</p>
<ul>
<li><strong>Chess Rules:</strong> This rule changes the value of face cards so higher ranks are more valuable. Jacks cause the player to draw one after play, potentially avoiding the Draw Pile, but not getting closer to the game's objective. Queens allow the next player to choose the suit, potentially avoiding the Draw Pile but not gaining the tactical advantage of choosing suit. Kings remain full-powered Wilds. <em>This rule is balanced and tame, suitable for early game and when the game is in a balanced state.</em> Variation: Instead of drawing a replacement card on Jacks, the suit only changes to the suit of the Jack. </li>
<li><strong>Threes:</strong> Whenever a 3 (or rank of your choosing) is in your hand, play face-up in front of you. When the Draw Pile is empty and the deck is being shuffled, all players return their 3s into the shuffle. Any players without a 3 suffer a draw one penalty off the top of the replenished Draw Pile. Any player who attempts to play a 3 instead of keeping it draws three (and places the offending card in front of them). <em>This rule is balanced and tame but moderately challenging, good for advanced Ocho players at any point in the game.</em></li>
<li><strong>War:</strong> A rank of card triggers a game of War. The player of the card counts down from three while all players start shuffling their hands face-down. At the end of the countdown, all players flip a card face-up in front of them. Highest card showing takes everyone's cards into their hand. Aces low, Jokers high, ties settled by a run-off (adding extra cards to the punishment). <em>This rule is balanced but brutal, suitable for balanced and penalty-heavy games.</em></li>
<li><strong>Pass Left:</strong> A rank of card causes all players to pass their entire hands to the player to the left. <em>This rule is brutal, and should only be paired with low-frequency ranks in your deck.</em></li>
<li><strong>Cribbage Board:</strong> Each player gets a track, and each time they play a card, their peg advances the value of the card played (2-10 only). First player to complete the track (121 points) wins the hand. <em>This rule makes hands end faster and emphasizes number cards, good for correcting penalty-heavy games.</em> </li>
<li><strong>Your Rule Here?:</strong> When you come up with a rule that is, above all else, fun, contribute them to the <a href='https://github.com/aseroff/ocho'>Ocho GitHub project</a> so the rest of us can try them out!</li>
</ul>
<div class="breadcrumbs">
<p>You've finished your Ocho training. Now get out there and become a master.</p>
</div>