---
title: Ocho Rules
---

<h1>Rules</h1>
<hr>
<p>The (base) rules are very simple. Let's start with the rules to Uno (of which Ocho is completely unrelated to):</p>
	<li>The objective is to have no cards left in your hand</li>
	<li>On a player's turn, you must match the previous card's suit or value, or draw cards until you can.</li>
	
