---
title: Ocho Rules
---

<h1>Rules</h1>
<hr>
<p>The rules to Ocho are very simple, you may find them similar to a popular game called Uno™. While the rules are similar, the gameplay is not.</p>
<h2><a name="gameplay">Gameplay</a></h2>
<p>The objective of the game is to have no cards left in your hand at the end of any one turn.</p>
<p>Start by dealing out 7 cards to each player, then place the remaining cards (the Draw Pile) in the middle of the table. Take the top card and place it face-up next to the Draw Pile. First turn goes to the player left of the dealer.</p>
<p>On a player's turn, they must play a card on top of the face-up pile. A card can be played if it matches the suit or rank of the face-up card. If the player is unable to play, they must draw from the Draw Pile until they get a card that they can play. The Draw Pile is replenished by shuffling the pile of played cards, leaving the current top card out of the shuffle (so you don't forget what the drawing player is playing on).</p>
<h2><a name"basevalues">Card Values</a></h2>
<div class="values">
<table class="values">
	<tr>
		<th>Card Played</th>
		<th>Name</th>
		<th>Special Value</th>
	</tr>
	<tr>
		<td>Ace</td>
		<td>Reverse</td>
		<td>Reverses the direction play is going in.</td>
	</tr>
	<tr>
		<td>2</td>
		<td>Draw Two</td>
		<td>The next player in order must draw two cards.</td>
	</tr>
	<tr>
		<td>3-10</td>
		<td></td>
		<td>No special value.</td>
	</tr>
	<tr>
		<td>J, Q, K <br>(face cards)</td>
		<td>Wild</td>
		<td>The player gets to change the current suit.</td>
	</tr>
	<tr>
		<td>Joker</td>
		<td>Wild Draw Four</td>
		<td>The player gets to change the current suit, and the next player in order must draw four cards.</td>
	</tr>
	<tr>
		<td>An identical card <br>(Matching rank and suit)</td>
		<td>Skip</td>
		<td>The next player in order loses their turn.</td>
	</tr>
</table>
</div>
<h2><a name"baserules">Starting Rules</a></h2>
<ul>
<li><strong>Uno:</strong> When a player is down to a single card, you must say "Uno!" If another player calls "Uno" (after a respectful pause) before the player with one card left, that player must draw four cards.</li>
<li><strong>Stacking:</strong> When the player before you plays a Draw Two, you may avoid drawing two cards if you also play a Draw Two. "Stacking" Draw Twos compound the punishment (a second Draw Two would make the 3rd player draw four cards, unless they continue the stack.) The turn does not end until a player cannot or chooses not to play a 2, and incurs the total penalty.</li>
<li><strong>Stack and Skip:</strong> If a Draw Two is stacked on an identical Draw Two (a 2 of the same suit), the skip occurs first, then the stacking may continue.</li>
<li><strong>The Bomb:</strong> Wild Draw Four is unavoidable. Playing one guarantees that the next player will draw four cards.</li>
<li><strong>Ocho:</strong> When an eight is played, it is encouraged to say "Ocho!"</li>
</ul>
<div class="breadcrumbs">
<p>When you've gotten the hang of it, <a href='/maocho'>turn it up to 11</a>.</p>
</div>