---
title: Ocho Rules
---

<h1>Rules</h1>
<hr class="style-two">
<p>The rules to Ocho are very simple, you may find them similar to a popular game called Uno™. While the rules are similar, the gameplay is not.</p>
<section>
	<h2><a id="gameplay" href="#gameplay">Gameplay</a></h2>
	<p>The winner of a hand is the first player to have no cards left in their hand at the end of any one turn.</p>
	<p>Start by dealing out 7 cards to each player, then place the remaining cards (the Draw Pile) in the middle of the table. Take the top card and place it face-up next to the Draw Pile - this is the Play Pile. Play starts clockwise, starting with the player to the left of the dealer.</p>
	<p>On a player's turn, they must play a card on the Play Pile from their hand, <a class="tip" title="However, since hands are secret, players may continue to draw even after they acquire a card that could validly be played.">adding cards to their hand from the Draw Pile</a> when unable to play. A card can be played if it matches the suit or rank of the top card of the Play Pile. When the Draw Pile is empty, it is replenished by shuffling the cards from the Play Pile, <a class="tip" title="So you don't forget what suit and rank the drawing player is playing on.">leaving the current top card out of the shuffle</a>.</p>
</section>
<section>
	<h2><a id="basevalues" href="#basevalues">Card Values</a></h2>
	<div class="values">
		<table class="values">
			<tr>
				<th>Card Played</th>
				<th>Name</th>
				<th>Special Value</th>
			</tr>
			<tr>
				<td>Ace</td>
				<td>Reverse</td>
				<td>Reverses the direction play is going in.</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Draw Two</td>
				<td>The next player in order must draw two cards (and does not play a card).</td>
			</tr>
			<tr>
				<td>3-10</td>
				<td></td>
				<td>No special value.</td>
			</tr>
			<tr>
				<td>J, Q, K <br>(face cards)</td>
				<td>Wild</td>
				<td>Can be played on any suit, and the player chooses the new suit to be played on.</td>
			</tr>
			<tr>
				<td>Joker</td>
				<td>Wild Draw Four</td>
				<td>Can be played on any suit, and the player chooses the new suit to be played on. The next player in order must draw four cards (and does not play a card).</td>
			</tr>
			<tr>
				<td>An identical card <br>(Matching rank and suit)</td>
				<td>Skip</td>
				<td>The next player in order does not play a card.</td>
			</tr>
		</table>
	</div>
</section>
<section>
	<h2><a id="baserules" href="#baserules">Starting Rules</a></h2>
	<ul>
		<li><strong>Uno:</strong> When a player is down to a single card, you must say "Uno!" If another player calls "Uno" (<a class="tip" title="A player should say &quot;Uno&quot; as they play their penultimate card, but at the very least the moment after they've set the card down. A respectful pause is defined as waiting a beat after the card is played. Calling a player's Uno as they're playing the card (the card is still in their hand) is generally considered bad form, and should not be considered valid.">after a respectful pause</a>) before the player with one card left, that player must draw four cards.</li>
		<li><strong>Stacking:</strong> When the player before you plays a Draw Two, you may avoid drawing two cards if you also play a Draw Two. "Stacking" Draw Twos compound the punishment (a second Draw Two would make the 3rd player draw four cards, unless they continue the stack.) <a class="tip" title="Meaning a player doesn't win a hand by playing a 2 on a stack until the stacking is over, in case the draw penalty makes it back around to them!">The turn does not end</a> until a player cannot or chooses not to play a 2, and incurs the total penalty.</li>
		<li><strong>Stack and Skip:</strong> If a Draw Two is stacked on an identical Draw Two (a 2 of the same suit), the skip occurs first. Draw 2 stacking may then continue as normal.</li>
		<li><strong>The Bomb:</strong> Wild Draw Four is unavoidable when played: Playing one guarantees that the next player will draw four cards. However, the card can't be played to avoid Draw 2 stacks.</li>
		<li><strong>Ocho:</strong> When an eight is played, it is encouraged to say <a class="tip" title="Not for any reason, just because it's really fun.">"Ocho!"</a></li>
	</ul>
</section>
<section>
	<h2><a id="strategy" href="#strategy">Strategy</a></h2>
	<h3>Going Out</h3>
	<ul>
		<li>Keeping a variety of ranks in your hand increases your chances of being able to play, so it follows then to <strong>play cards with ranks you have multiple of first</strong>, when possible. </li>
		<li>Like Uno™, if you can <strong>save a wild card as your last card</strong>, you greatly increase your chances of winning the hand.</li>
	</ul>
	<h3>Stopping Other Players From Going Out</h3>
	<ul>
		<li><strong>Collusion</strong> against players who have one card left is not only encouraged, but critical to the game. <strong>Players should openly strategize together</strong> about what cards they can play for each other to result in the player with Uno from winning, by delaying their turn with skips, forcing them to draw, or changing the suit to one they won't be able to play on.</li>
		<li>When playing before someone with Uno, <strong>consider the frequency of the rank of the card you're going to play</strong>. In the standard Ocho deck, 3s are less common than 7s, so its less likely they'll be able to win by matching their cards rank if you play a 3 as opposed to if you play a 7. Similarly, playing a Wild removes that chance all together, making the player win by matching suit or with a wild.</li>
		<li><strong>Keep an eye on the size of your opponents' hands</strong>. By calling an opponent's Uno before they do, you defuse a potential threat. <a class="tip" title="The reverse, however, is not true. Players may 'defend' by hiding the amount of cards in their hand, but if an opponent asks how many cards they have left, they must answer honestly by visibly spreading out the cards in their hand.">The best defense is a good offense</a>!</li>
	</ul>
</section>
<section>
	<h2><a id="faq" href="#faq">FAQ</a></h2>
	<ul>
		<li><strong>Who deals to start the game?</strong><br>
The player who won the last hand deals. That means they're last to play, handicapping them for the hand.</li>
		<li><strong>The card flipped to start a hand is an Ace or a 2. Does play start reversed/Does the first player draw two cards?</strong><br>
No. The first card of the game should only be recognized for setting the starting <a class="tip" title="As such, if you flip a Wild Draw 4, which has no suit, you should shuffle it back into the Draw Pile and flip a new card.">suit and rank</a>, not like a card played from a player's hand.</li>
		<li><strong>Can a player look through the stack of played cards?</strong><br>
No. It is okay if the stack is not tidy and cards can be seen, though any player could tidy it up if they so choose. Picking up cards to see what is underneath is not allowed.</li>
		<li><strong>The Draw Pile is empty, who shuffles the Play Pile to replenish it?</strong><br>
The player that drew the last card from the Draw Pile should replenish it, <a class="tip" title="You kill it, you fill it.">even if that card allows them to stop drawing and play</a>.</li>
	</ul>
</section>
<div class="breadcrumbs">
	<p>When you've gotten the hang of it, <a href='/maocho'>turn it up to 11</a>.</p>
</div>