---
title: Setup
---

<h1>Ocho Setup</h1>
<hr>
<p>Ocho requres playing cards, preferably 50 per four players. That's all. The game changes based on the cards in your deck and the players at the table.</p>
<h2>Original Ocho</h2>
<p>The beauty of Ocho is the flexibility of playing with whatever cards you can find. It can be a good idea to start with the Original Ocho deck, which has been rigorously play-tested.</p>
<li>1 Joker</li>
<li>Diamonds: A 2 3 4 5 7 7 8 8 9 9 10 10</li>
<li>Spades: A 2 2 4 5 6 7 7 8 8 10 10</li>
<li>Clubs: A 2 4 4 7 7 8 8 9 9 10</li>
<li>Hearts: 2 3 4 5 6 7 7 8 9 10</li>
<h2>Maocho</h2>
<p>This variant starts identical to Ocho, with one crucial twist: the winner of each hand gets to add (or effectively replace) a rule, that persists until the game is over.</p>
