---
title: Setup
---

<h1>Ocho Setup</h1>
<hr>
<h2><a name="materials">Materials</a></h2>
<ul>
<li>Playing cards (approximately a deck's worth per four players), preferably with the same back</li>
</ul>
<p>The beauty of Ocho is the flexibility of playing with whatever cards you can muster up. Advanced Ocho players can design their own deck to suit their own desired gameplay.</p>
<h2><a name="decks">Decks</a></h2>
<table class="deck">
<tr>
	<th colspan="2">
		Original Ocho
	</th>
</tr>

<td>
<p>It's a good idea to learn the game using the Original Ocho deck, which has been rigorously play-tested. Supports up to 5 players, and features 12 skips.</p>
</td>
<td>
<ul class="deck">
<li>Wilds (8): Joker K♠♦ Q♠♥ J♦♠♣</li>
<li>♦ (13): A 2 3 4 5 7 7 8 8 9 9 10 10</li>
<li>♠ (12): A 2 2 4 5 6 7 7 8 8 10 10</li>
<li>♣ (11): A 2 4 4 7 7 8 8 9 9 10</li>
<li>♥ (10): 2 3 4 5 6 7 7 8 9 10</li>
</ul>
</td>
</tr>
<tr>
	<th colspan="2">
		Wilder Wilds
	</th>
</tr>

<td>
<p>Based off the original Ocho deck, but with skips in Wilds to make for extra surprises! Supports up to 5 players, and features 14 skips.</p>
</td>
<td>
<ul class="deck">
<li>Wilds (8): Joker K♥♦ Q♠♠ J♦♦♣</li>
<li>♦ (13): A 2 3 4 5 7 7 8 8 9 9 10 10</li>
<li>♠ (12): A 2 2 4 5 6 7 7 8 8 10 10</li>
<li>♣ (11): A 2 4 4 7 7 8 8 9 9 10</li>
<li>♥ (10): 2 3 4 5 6 7 7 8 9 10</li>
</ul>
</td>
</tr>
</table>
<div class="breadcrumbs">
<p>Once you've assembled a deck to fit your needs, <a href='/rules'>learn how to play</a>.</p>
</div>
