---
title: Setup
---

<h1>Ocho Setup</h1>
<hr>
<h2>Dependencies</h2>
<li>Playing cards (approximately a deck's worth per four players), preferably with the same back</li>
<p>The beauty of Ocho is the flexibility of playing with whatever cards you can muster up. Advanced Ocho players can design their own deck to suit their own desired gameplay.</p>
<h2>Original Ocho (Ocho v. 1.0)</h2>
<p>It's a good idea to learn the game using the Original Ocho deck, which has been rigorously play-tested. Supports up to 5 players, and features 12 skips.</p>
<li>Joker</li>
<li>Diamonds: A 2 3 4 5 7 7 8 8 9 9 10 10</li>
<li>Spades: A 2 2 4 5 6 7 7 8 8 10 10</li>
<li>Clubs: A 2 4 4 7 7 8 8 9 9 10</li>
<li>Hearts: 2 3 4 5 6 7 7 8 9 10</li>
<p>Once you've assembled a deck to fit your needs, <a href='/rules'>learn how to play</a>.</p>